html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Baloo Tamma', cursive;
}

body {
  background-color: rgba(251, 194, 233, 0.3);
}

#header {
  width: auto;
  height: 70px;

  #mocchan5 {
    width: auto;
    height: 50px;

  }
}
.main-wrapper {
  #top-img {
    width: 100%;
    height: 500px;
    /*background-color: rgb(247, 224, 234);*/
  }

}
.content {
  margin: 150px 0;
}

.content-wrapper {
  width: 100%;
  margin-top: 150px;
  display: flex;
  flex-direction: row;


  .beauty-img {
    text-align: center;
    width: 100%;
    height: 400px;
    // background-color: rgb(49, 194, 175);

  }
}

.content-wrapper {
  width: 100%;
  // margin: 300px 0;
  display: flex;
  flex-direction: row;

  .food-img {
    text-align: center;
    // padding-top: 50px;
    width: 100%;
    height: 400px;
    // background-color: rgb(64, 131, 232);
  }
}




.step-wrapper {
  text-align: center;
  padding: 200px 0;
  width: 100%;
  background-color: #ffffff;
}
.howto-title {
  text-align: center;
  width: 100%;
  height: 250px;
}
.step1, .step2, .step3 {
  margin: 100px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#step1-right {
  text-align: center;
  margin-left: 50px;
  width: 50%;
}
#step1-left {
  text-align: left;
  width: 50%;

}
#step2-right {
  text-align: center;
  margin-left: 50px;
  width: 50%;

}
#step2-left {
  text-align: left;
  width: 50%;

}
#step3-right {
  text-align: center;
  margin-left: 50px;
  width: 50%;

}
#step3-left {
  text-align: left;
  width: 50%;

}
.store-nav {
  text-align: center;
  margin: 100px 0;
}
footer {
  width: 100%;
  height: 300px;
  background-color: white;
}
